{% extends 'admin-dashboard.html.twig' %}
{% block title %}
    Liste des Interventions
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{asset('css/techniqueHistorique.css')  }}" />
{% endblock %}
{% block body %}
    <div class="intro-y datatable-wrapper box p-5 mt-5">
        <table  class="table table-report table-report--bordered display datatable w-full"  id="myTable">
            <thead>
            <th>Intervention</th>
            <th>Conducteur</th>
            <th>Machine</th>
            <th>Defaillance</th>
            <th>Date_lancement</th>
            <th> Date_fin &nbsp </th>

            <th>Urgence</th>
            <th>Etat</th>
            </thead>
            <tbody>

            {% for intervention in interventions%}
                <tr>
            <td><a href="{{ path('show_intervention',{'id': intervention.id}) }}">{{ intervention.id }}</a></td>
            <td>{{ intervention.conducteur.nom }}</td>
            <td>{{ intervention.machine.nomMachine }}</td>
            <th>{{ intervention.defaillance.libelle }}</th>
            <th>{{ intervention.dateLancement|date('d-m-Y à H:i') }}</th>
            <th>{{ intervention.dateFin|date('d-m-Y à H:i') }}</th>

            <th>{% if intervention.urgence %}oui {% else %}non{% endif %}</th>
            <th>{% if intervention.etat == 'TV' %}Terminée{% else %} Encours{% endif %}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <!-- BEGIN: JS Assets-->
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>


    <!-- END: JS Assets-->
{% endblock %}