{% extends 'admin-dashboard.html.twig' %}
{% block css %}
    <link href="{{ asset('css/edit_profile-page.css') }}">
    <link rel="stylesheet" href="{{asset('css/techniqueHistorique.css')  }}" />
{% endblock %}
{% block title %}
    profile du
    {% if user.poste == 'T' %} technicien{% else %} conducteur{% endif %}
    N° {{ user.id }}
{% endblock %}
{% block body %}
    <div class="container  intro-y box" >
        {{ form_start(form) }}
        <form method="post">
    <div class="row py-md-3">

        <div class="col-xl-4">
            <div class="py-md-0">
            <!-- Profile picture card-->
            <div class="card mb-xl-4">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Profile picture image-->
                    <img class="img-account-profile rounded-circle mb-3 ml-4" src="{{ vich_uploader_asset(user) }}" style="width: 240px; height: 224px;" >
                    <!-- Profile picture help block-->

                    <!-- Profile picture upload button-->
                    {{ form_row(form.imageFile) }}
                </div>
            </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header"> Details du compte</div>
                <div class="card-body">
                    <div class="row gx-3 mb-3">
                        <!-- Form Group (first name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputFirstName" >Prénom</label>
                            <input class="form-control" id="inputFirstName" type="text" placeholder="Enter votre prénom" value="{{ user.prenom}}" name="prenom">
                            <span id="result_prenom"></span>
                        </div>
                        <!-- Form Group (last name)-->
                        <div class="col-md-6">
                            <label class="small mb-1" for="inputLastName">Nom</label>
                            <input class="form-control" id="inputLastName" type="text" placeholder="Enter votre nom" value="{{ user.nom}}" name="nom">
                            <span id="result_nom"></span>
                        </div>
                    </div>
                        <!-- Form Row        -->

                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <div class="">
                                <label class="small mb-1" for="inputEmailAddress">Email</label>
                                <input class="form-control" name="mail" id="inputEmailAddress" type="email" placeholder="Entrer votre addresse mail " value="{{ user.email }}" >
                                <span id="result_mail"></span>
                            </div>
                        </div>
                        <!-- Form Row-->
                        {% if user.poste == 'T' %}
                        <div class="mb-3">
                            <label class="small mb-1" for="secteur">Secteur</label>
                            <input class="form-control" disabled id="secteur" type="text"  value="{{ user.typeTech.nom }}">
                        </div>
                        {% endif %}
                        <!-- Save changes button-->
                        <div class="row  mb-3">
                            <div class="col-md-2">
                                <button class="btn btn-primary" type="submit">Enregistrer</button>
                                {{ form_end(form) }}
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-secondary" type="button">Annuler</button>
                            </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
        </form>


    <div class="row mr-2"><hr></div>
    <div class="row intro-y py-md-2">
        <div class="row">
            <div class="">
                <h4 class="mb-3">
                    {% if user.poste == 'T' %} Interventions réalisées par ce technicien{% else %} Inerventions lancées par ce conducteur{% endif %}

                </h4>
            </div>
        </div>
        <div class=" datatable-wrapper  ">
            <table class="table table-report table-report--bordered display datatable w-full"  id="myTable">
                <thead>
                <tr>
                    <td>intervention</td>
                    <td>date debut</td>
                    <td>date fin</td>
                </tr>
                </thead>
                <tbody>

                {% if user.poste == 'T' %}
                {% for tache in user.dateInteTeches %}
                    <tr>
                        <td><a href="{{ path('show_intervention',{'id':tache.intervention.id}) }}">{{ tache.intervention.id }}</td>
                        <td>{{ tache.intervention.dateLancement|date('d-m-Y à H:i') }}</td>
                        <td>{{ tache.intervention.dateFin|date('d-m-Y à H:i') }}</td>
                    </tr>
                {% endfor %}
                {% else %}

                    {% for intervention in user.intersConducteur %}
                        <tr>
                        <td><a href="{{ path('show_intervention',{'id':intervention.id}) }}">{{ intervention.id }}</td>
                        <td>{{ intervention.dateLancement|date('d-m-Y à H:i') }}</td>
                        <td>{{ intervention.dateFin|date('d-m-Y à H:i') }}</td>
                        </tr>
                    {% endfor %}

                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>

{% endblock %}