{% extends  app.user.poste == 'C'
    ? 'conducteur-dashboard.html.twig'
    : app.user.poste == 'T'
    ? 'techenicien-dashboard.html.twig'
    : 'admin-dashboard.html.twig'
%}
{% block css %}
    <link href="{{ asset('css/edit_profile-page.css') }}">
{% endblock %}
{% block body %}
    {{ form_start(form) }}
    <form method="post">
        <div class="row">
            <div class="col-xl-4">
                <!-- Profile picture card-->
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">photo de profile</div>
                    <div class="card-body text-center">
                        <!-- Profile picture image-->
                        <img class="img-account-profile rounded-circle mb-3" src="{{ vich_uploader_asset(app.user) }}" style="height : 240px; width: 240px">
                        <!-- Profile picture help block-->

                        <!-- Profile picture upload button-->


                        {{ form_row(form.imageFile) }}

                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <!-- Account details card-->
                <div class="card mb-4">
                    <div class="card-header"> Details du compte</div>
                    <div class="card-body">
                            <!-- Form Group (username)-->

                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (first name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputFirstName" >Prénom</label>
                                    <input class="form-control" id="inputFirstName" type="text" placeholder="Enter votre prénom" value="{{ app.user.prenom}}" name="prenom">
                                    <span id="result_prenom"></span>
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLastName">Nom</label>
                                    <input class="form-control" id="inputLastName" type="text" placeholder="Enter votre nom" value="{{ app.user.nom}}" name="nom">
                                <span id="result_nom"></span>
                                </div>
                            </div>
                            <!-- Form Row        -->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (organization name)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                                    <input class="form-control" name="mail" id="inputEmailAddress" type="email" placeholder="Entrer votre addresse mail " value="{{ app.user.email }}" >
                                     <span id="result_mail"></span>
                                </div>
                                <!-- Form Group (location)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputLocation">addresse</label>
                                    <input class="form-control" name="addresse" id="inputLocation" type="text" placeholder="Entrer votre addresse" value="{{ app.user.addresse }}">
                                </div>
                            </div>
                            <!-- Form Group (email address)-->

                            <!-- Form Row-->
                            <div class="row gx-3 mb-3">
                                <!-- Form Group (phone number)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputPhone">Numéro de téléphone</label>
                                    <input class="form-control" name="tel" id="inputPhone" type="tel" placeholder="Entrer votre numéro de téléphone" value="{{ app.user.tele }}">
                                    <span id="result_tel"></span>
                                </div>
                                <!-- Form Group (birthday)-->
                                <div class="col-md-6">
                                    <label class="small mb-1" for="inputBirthday">Date de naissance</label>
                                    <input class="form-control mb-2" id="inputBirthday" type="date" name="birthday" placeholder="Entrer votre date de naissance" value="{{ app.user.dateDeNaissance|date('Y-m-d') }}">
                                </div>
                            </div>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit" id="enregister" disabled>Enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
    <script src="{{ asset('js/validation des champs.js') }}" ></script>
    <script>
        $(document).ready(submitTest());
    </script>
{%  endblock%}