{% extends 'techenicien-dashboard.html.twig' %}
{% block css %}

    <link rel="stylesheet" href="{{asset('css/app.css')  }}" />
{% endblock %}
{% block body %}
    <div class="intro-y datatable-wrapper box p-5 mt-1">
        <table class="table table-report table-report--bordered display datatable w-full" >
            <thead>
            <tr>
                <th class="border-b-2 whitespace-no-wrap">Machine</th>
                <th class="border-b-2 text-center whitespace-no-wrap">Defaillance</th>
                <th class="border-b-2 text-center whitespace-no-wrap">Date Debut</th>
                <th class="border-b-2 text-center whitespace-no-wrap">Date Fin</th>

            </tr>
            </thead>
            <tbody>
            {% for intervention in interventions %}
                <tr>
                    <td class="border-b">
                        <div class="font-medium whitespace-no-wrap">{{ intervention.machine.nomMachine }}</div>
                    </td>
                    <td class="text-center border-b">
                        <div class="text-gray-600 text-xs whitespace-no-wrap">{{ intervention.defaillance.libelle }}</div>
                    </td>
                    <td class="text-center border-b">{{ intervention.dateLancement|date('d-m-Y H:i') }}</td>

                    {% if intervention.dateFin == null %}
                        <td class="text-center border-b pr-2">En cours ...</td>
                    {% else %}
                        <td class="text-center border-b">{{ intervention.dateFin|date('d-m-Y H:i') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block js %}
    <!-- BEGIN: JS Assets-->
    <script src="//cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable();
        } );
    </script>


    <!-- END: JS Assets-->
{% endblock %}