<html>
<!DOCTYPE html>

<title>Hello TestController!</title>
<body>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/intel/Desktop/Nouveau dossier/pfa/src/Controller/TestController.php'|file_link(0) }}">src/Controller/TestController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/intel/Desktop/Nouveau dossier/pfa/templates/test/index.html.twig'|file_link(0) }}">templates/test/index.html.twig</a></code></li>
    </ul>
</div>
<div class="example-wrapper">
{{ form_start(form) }}
    {{ form_row(form.imageFile) }}
    <input type="submit" value="submit">
    {{ form_end(form) }}
</div>
<div class="example-wrapper">




</div>
<div>
    <button onclick="mercure()">walo</button>
</div>
</body>
</html>

{#<script>
    const url = new URL('http://localhost:3000/hub');
    url.searchParams.append('topic', 'http://example.com/ping');
    const eventSource = new EventSource(url);
    eventSource.onmessage = event => {
        console.log(JSON.parse(event.data));
    }
</script>#}
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>

