{% extends 'techenicien-dashboard.html.twig' %}
{% block css %}

    <link href="https://colorlib.com/polygon/cooladmin/css/font-face.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/font-awesome-4.7/css/font-awesome.min.css"
          rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/font-awesome-5/css/fontawesome-all.min.css"
          rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/mdi-font/css/material-design-iconic-font.min.css"
          rel="stylesheet" media="all">

    <link href="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet"
          media="all">

    <link href="https://colorlib.com/polygon/cooladmin/vendor/animsition/animsition.min.css" rel="stylesheet"
          media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
          rel="stylesheet" media="all">


    <link href="https://colorlib.com/polygon/cooladmin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="https://colorlib.com/polygon/cooladmin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet"
          media="all">

    <link href="{{ asset('css/theme.css') }}" rel="stylesheet" media="all">

    <link href="https://colorlib.com/polygon/cooladmin/vendor/select2/select2.min.css" rel="stylesheet" media="all">


{% endblock %}



{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                <div class="au-card-title" style="background-color: blue">
                    <div class="bg-overlay bg-overlay--blue"></div>
                    <h3>
                        <i class="zmdi zmdi-account-calendar"></i>26 April, 2018</h3>


                </div>
                <div class="au-task js-list-load">
                    <div class="au-task__title">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 id="h3"></h3>
                                <h4><strong>Vos interventions</strong></h4>
                            </div>
                            <div class="col-sm-4">
                                <h4><strong>Pieces de rechange</strong></h4>
                            </div>


                            <div class="col-sm-2">
                                <h4><strong>Action</strong></h4>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="au-task-list js-scrollbar3">

                    {% for tache in taches %}
                        {% if tache.dateDebut != null %}
                        <div class="au-task__item au-task__item--danger" id="div{{ tache.intervention.id }}">
                            <div class="au-task__item-inner">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="task">
                                            <a data-toggle="modal"  data-target="#infos{{ tache.intervention.id }}" >
                                            <strong style="font-size: larger">{{ tache.intervention.machine.nomMachine }}</strong>
                                            </a>
                                        </h5>
                                        <div>  <h6 >{{ tache.intervention.defaillance.libelle }}</h6></div>
                                        <span class="time">{{ tache.intervention.dateLancement |date('d-m-Y à H:i') }}</span>
                                    </div>
                                    <div class="col-sm-4">
                                        <button class="btn btn-info" id="" onclick="ajouter(this.id)" data-toggle="modal" data-target="#add">Ajouter</button>
                                        <div class="rs-select2 js-select-simple">
                                            <select style="width: 50%!important;" class="js-example-tags">
                                                <option disabled="disabled">Selectionnez une piece</option>
                                                <option>piece 1</option>
                                                <option>piece 2</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2  pl-2">
                                        <button onclick="select(this.id)" class="btn btn-danger pl-4 pr-4" data-toggle="modal"
                                                data-target="#confirm" id="{{ tache.intervention.id }}">Fin
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}

                    <div id="debutDiv">
                    {% for tache in taches %}
                        {% if tache.dateDebut == null %}
                        <div class="au-task__item au-task__item--primary" id="div{{ tache.intervention.id }}">
                            <div class="au-task__item-inner">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <h5 class="task">
                                            <a data-toggle="modal"  data-target="#infos" >
                                            <strong style="font-size: larger">{{ tache.intervention.machine.nomMachine }}</strong>
                                            </a>
                                        </h5>
                                        <div>  <h6 >{{ tache.intervention.defaillance.libelle }}</h6></div>
                                        <span class="time">{{ tache.intervention.dateLancement |date('d-m-Y à H:i') }}</span>
                                    </div>
                                    <div class="col-sm-2  pl-2">
                                        <button onclick="select(this.id)" class="btn btn-success" data-toggle="modal"
                                                data-target="#confirm" id="{{ tache.intervention.id }}">Début
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cofirmation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm_text">Voulez vous vraiment indiquer le début de l'intervention?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" id="annuler" data-dismiss="modal">Non</button>
                    <button class="btn btn-primary" onclick="confirm()">Oui</button>
                </div>
            </div>
        </div>
    </div>

    {% for tache in taches %}
    <div class="modal fade" id="infos{{ tache.intervention.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">informations sur l'intervention</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm_text">{{ tache.intervention.machine.nomMachine }}</div>
                <div class="modal-body"><a href="{{ vich_uploader_asset(tache.intervention.machine) }}" ><span class="fa fa-file"></span> documentation</a></div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button"  data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="au-task__item au-task__item--primary" id="divToClone" hidden="hidden">
        <div class="au-task__item-inner">
            <div class="row">
                <div class="col-sm-10">
                    <h5 class="task">
                        <strong style="font-size: larger" id="nomMachine">walo</strong>
                    </h5>
                    <div>  <h6 id="libelleDef" ></h6></div>
                    <span class="time" id="dateLancement"></span>
                </div>
                <div class="col-sm-2  pl-2">
                    <button onclick="select(this.id)" class="btn btn-success" data-toggle="modal" id="btnDebut"
                            data-target="#confirm" >Début
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cofirmation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="confirm_text">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>la Pièce:</label>
                            <div class="rs-select2 js-select-simple">
                                <select style="width: 50%!important;" class="js-example-tags">
                                    <option disabled="disabled">Selectionnez une piece</option>
                                    <option>piece 1</option>
                                    <option>piece 2</option>
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>quantité</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" id="annuler" data-dismiss="modal">Non</button>
                    <button class="btn btn-primary" onclick="confirm()">Oui</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
    <script>
        jQuery(document).ready(function (){
            $(".js-example-tags").select2({
                tags: true,
                width: 'resolve',
            });
        });
    </script>


    <script>
        function addDate_inter_tech_debut(id) {
            $.ajax({
                url: '{{ path('dashboard_tehcnicien') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id_intervention": id,
                },
                async: true,
                success: function (data) {
                    alert(id)
                },
            });

        }

        function addDate_inter_tech_fin(id) {
            $.ajax({
                url: '{{ path('dashboard_tehcnicien') }}',
                type: "POST",
                dataType: "json",
                data: {
                    "id_intervention": id,
                    "fin": true,
                },
                async: true,
                success: function (data) {

                },
            });

        }

        attr = "";
        bool = false;
        text = document.getElementById("confirm_text");
        textdebut = "voulez vous indiquer le debut de la tache?";
        textfin = "voulez vous indiquer la fin de la tache?";

        function select(id){
            attr=id;
            if (document.getElementById(id).textContent.includes("Début")){
                text.textContent = textdebut;
            }else {
                if (document.getElementById(id).textContent.includes("Fin")) {
                    text.textContent = textfin;
                    bool = true;
                }
            }
        }


        function confirm() {
            document.getElementById(attr).textContent = "Fin";
            document.getElementById(attr).className = "btn btn-danger pl-4 pr-4 "
            document.getElementById("annuler").click();

            if (bool){

                document.getElementById("div" + attr).setAttribute("hidden","hidden");
                bool = false;
                addDate_inter_tech_fin(attr)

            }else{
                addDate_inter_tech_debut(attr)
            }

        }
    </script>

    <script>
        const url = new URL('http://localhost:3000/hub');
        url.searchParams.append('topic', 'http://example.com/ping1');
        const eventSource = new EventSource(url);
        eventSource.onmessage = event => {
            donnees = JSON.parse(event.data);
            console.log(donnees.date);
            if (donnees.id_tech =={{ app.user.id }}) {
                var newdiv = $("#divToClone").clone();

                newdiv.prop("id", "div" + donnees.id);
                newdiv.find('#nomMachine').text(donnees.nom);
                newdiv.find('#dateLancement').text(donnees.date);
                newdiv.find('#libelleDef').text(donnees.def);
                newdiv.find('#btnDebut').prop("id", donnees.id);
                newdiv.removeAttr("hidden");
                newdiv.appendTo('#debutDiv');
            }
        }
    </script>



{% endblock %}
